.layout {
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    @extend %lateral-padding;

    .bread-crumb {
      text-transform: uppercase;
      color: $text-color-darker;
    }

    section {
      display: flex;
      flex: 1;
      margin-top: 20px;

      > aside {
        flex: 1;
      }

      > main {
        flex: 4;
      }
    }
  }
}
