.navtabs {
  &__wrapper {
    margin-right: 30px;
    > nav {
      .tab {
        border: 1px solid $color-grey-light;
        border-top: none;
        font-weight: bold;
        text-transform: uppercase;
        padding: 30px;
        color: $primary-accent-2;

        &:first-of-type {
          border-top: 1px solid $color-grey-light;
          border-radius: 5px 5px 0 0;
        }

        &:last-of-type {
          border-radius: 0 0 5px 5px;
        }

        &.active {
          color: $text-default;
          position: relative;
          border-left-color: $primary-accent;

          &:before {
            content: '';
            background: $primary-accent
              url('../images/company-data/line-active.png') center center;
            width: 3px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}
